
.icn{
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.icn::before{
  content: '';
  display: block;
  width:  16px;
  height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: contain;
}
.icn_cursor_moveHorizontal::before{background-image:url("icons/cursor/cursor_moveHorizontal.png");}
.icn_cursor_moveVertical::before{background-image:url("icons/cursor/cursor_moveVertical.png");}
.icn_cursor_resize_0::before{background-image:url("icons/cursor/cursor_resize_0.png");}
.icn_cursor_resize_105::before{background-image:url("icons/cursor/cursor_resize_105.png");}
.icn_cursor_resize_112::before{background-image:url("icons/cursor/cursor_resize_112.png");}
.icn_cursor_resize_120::before{background-image:url("icons/cursor/cursor_resize_120.png");}
.icn_cursor_resize_135::before{background-image:url("icons/cursor/cursor_resize_135.png");}
.icn_cursor_resize_15::before{background-image:url("icons/cursor/cursor_resize_15.png");}
.icn_cursor_resize_150::before{background-image:url("icons/cursor/cursor_resize_150.png");}
.icn_cursor_resize_157::before{background-image:url("icons/cursor/cursor_resize_157.png");}
.icn_cursor_resize_165::before{background-image:url("icons/cursor/cursor_resize_165.png");}
.icn_cursor_resize_22::before{background-image:url("icons/cursor/cursor_resize_22.png");}
.icn_cursor_resize_30::before{background-image:url("icons/cursor/cursor_resize_30.png");}
.icn_cursor_resize_45::before{background-image:url("icons/cursor/cursor_resize_45.png");}
.icn_cursor_resize_60::before{background-image:url("icons/cursor/cursor_resize_60.png");}
.icn_cursor_resize_67::before{background-image:url("icons/cursor/cursor_resize_67.png");}
.icn_cursor_resize_75::before{background-image:url("icons/cursor/cursor_resize_75.png");}
.icn_cursor_resize_90::before{background-image:url("icons/cursor/cursor_resize_90.png");}
.icn_cursor_rotate_0::before{background-image:url("icons/cursor/cursor_rotate_0.png");}
.icn_cursor_rotate_105::before{background-image:url("icons/cursor/cursor_rotate_105.png");}
.icn_cursor_rotate_120::before{background-image:url("icons/cursor/cursor_rotate_120.png");}
.icn_cursor_rotate_135::before{background-image:url("icons/cursor/cursor_rotate_135.png");}
.icn_cursor_rotate_15::before{background-image:url("icons/cursor/cursor_rotate_15.png");}
.icn_cursor_rotate_150::before{background-image:url("icons/cursor/cursor_rotate_150.png");}
.icn_cursor_rotate_165::before{background-image:url("icons/cursor/cursor_rotate_165.png");}
.icn_cursor_rotate_180::before{background-image:url("icons/cursor/cursor_rotate_180.png");}
.icn_cursor_rotate_195::before{background-image:url("icons/cursor/cursor_rotate_195.png");}
.icn_cursor_rotate_210::before{background-image:url("icons/cursor/cursor_rotate_210.png");}
.icn_cursor_rotate_225::before{background-image:url("icons/cursor/cursor_rotate_225.png");}
.icn_cursor_rotate_240::before{background-image:url("icons/cursor/cursor_rotate_240.png");}
.icn_cursor_rotate_255::before{background-image:url("icons/cursor/cursor_rotate_255.png");}
.icn_cursor_rotate_270::before{background-image:url("icons/cursor/cursor_rotate_270.png");}
.icn_cursor_rotate_285::before{background-image:url("icons/cursor/cursor_rotate_285.png");}
.icn_cursor_rotate_30::before{background-image:url("icons/cursor/cursor_rotate_30.png");}
.icn_cursor_rotate_300::before{background-image:url("icons/cursor/cursor_rotate_300.png");}
.icn_cursor_rotate_315::before{background-image:url("icons/cursor/cursor_rotate_315.png");}
.icn_cursor_rotate_330::before{background-image:url("icons/cursor/cursor_rotate_330.png");}
.icn_cursor_rotate_345::before{background-image:url("icons/cursor/cursor_rotate_345.png");}
.icn_cursor_rotate_45::before{background-image:url("icons/cursor/cursor_rotate_45.png");}
.icn_cursor_rotate_60::before{background-image:url("icons/cursor/cursor_rotate_60.png");}
.icn_cursor_rotate_75::before{background-image:url("icons/cursor/cursor_rotate_75.png");}
.icn_cursor_rotate_90::before{background-image:url("icons/cursor/cursor_rotate_90.png");}
.icn_cursor_shape_node_handle_adjust::before{background-image:url("icons/cursor/cursor_shape_node_handle_adjust.png");}
.icn_cursor_shear_0::before{background-image:url("icons/cursor/cursor_shear_0.png");}
.icn_cursor_shear_105::before{background-image:url("icons/cursor/cursor_shear_105.png");}
.icn_cursor_shear_120::before{background-image:url("icons/cursor/cursor_shear_120.png");}
.icn_cursor_shear_135::before{background-image:url("icons/cursor/cursor_shear_135.png");}
.icn_cursor_shear_15::before{background-image:url("icons/cursor/cursor_shear_15.png");}
.icn_cursor_shear_150::before{background-image:url("icons/cursor/cursor_shear_150.png");}
.icn_cursor_shear_165::before{background-image:url("icons/cursor/cursor_shear_165.png");}
.icn_cursor_shear_30::before{background-image:url("icons/cursor/cursor_shear_30.png");}
.icn_cursor_shear_45::before{background-image:url("icons/cursor/cursor_shear_45.png");}
.icn_cursor_shear_60::before{background-image:url("icons/cursor/cursor_shear_60.png");}
.icn_cursor_shear_75::before{background-image:url("icons/cursor/cursor_shear_75.png");}
.icn_cursor_shear_90::before{background-image:url("icons/cursor/cursor_shear_90.png");}
.icn_node_add_cursor::before{background-image:url("icons/cursor/node_add_cursor.png");}
.icn_node_add_cursor2x::before{background-image:url("icons/cursor/node_add_cursor@2x.png");}
.icn_node_click_cursor::before{background-image:url("icons/cursor/node_click_cursor.png");}
.icn_node_click_cursor2x::before{background-image:url("icons/cursor/node_click_cursor@2x.png");}
.icn_node_close_cursor::before{background-image:url("icons/cursor/node_close_cursor.png");}
.icn_node_close_cursor2x::before{background-image:url("icons/cursor/node_close_cursor@2x.png");}
.icn_node_cursor::before{background-image:url("icons/cursor/node_cursor.png");}
.icn_node_cursor2x::before{background-image:url("icons/cursor/node_cursor@2x.png");}
.icn_node_curve_cursor::before{background-image:url("icons/cursor/node_curve_cursor.png");}
.icn_node_curve_cursor2x::before{background-image:url("icons/cursor/node_curve_cursor@2x.png");}
.icn_node_delete_cursor::before{background-image:url("icons/cursor/node_delete_cursor.png");}
.icn_node_delete_cursor2x::before{background-image:url("icons/cursor/node_delete_cursor@2x.png");}
.icn_node_handle_cursor::before{background-image:url("icons/cursor/node_handle_cursor.png");}
.icn_node_handle_cursor2x::before{background-image:url("icons/cursor/node_handle_cursor@2x.png");}
.icn_pen_add_cursor::before{background-image:url("icons/cursor/pen_add_cursor.png");}
.icn_pen_add_cursor2x::before{background-image:url("icons/cursor/pen_add_cursor@2x.png");}
.icn_pen_close_cursor::before{background-image:url("icons/cursor/pen_close_cursor.png");}
.icn_pen_close_cursor2x::before{background-image:url("icons/cursor/pen_close_cursor@2x.png");}
.icn_pen_cursor::before{background-image:url("icons/cursor/pen_cursor.png");}
.icn_pen_cursor2x::before{background-image:url("icons/cursor/pen_cursor@2x.png");}
.icn_pen_delete_cursor::before{background-image:url("icons/cursor/pen_delete_cursor.png");}
.icn_pen_delete_cursor2x::before{background-image:url("icons/cursor/pen_delete_cursor@2x.png");}
.icn_pen_new_cursor::before{background-image:url("icons/cursor/pen_new_cursor.png");}
.icn_pen_new_cursor2x::before{background-image:url("icons/cursor/pen_new_cursor@2x.png");}

.icn_ui_addfilltopalette::before{background-image:url("icons/ui/addfilltopalette.png");}
.icn_ui_addpersona::before{background-image:url("icons/ui/AddPersona.png");}
.icn_ui_addtabstop::before{background-image:url("icons/ui/addtabstop.png");}
.icn_ui_addtopalettelink::before{background-image:url("icons/ui/addtopalettelink.png");}
.icn_ui_adjustmentlayer::before{background-image:url("icons/ui/adjustmentlayer.png");}
.icn_ui_align_bottom_edges::before{background-image:url("icons/ui/align_bottom_edges.png");}
.icn_ui_align_horizontal_cntr::before{background-image:url("icons/ui/align_horizontal_cntr.png");}
.icn_ui_align_left_edges::before{background-image:url("icons/ui/align_left_edges.png");}
.icn_ui_align_right_edges::before{background-image:url("icons/ui/align_right_edges.png");}
.icn_ui_align_top_edges::before{background-image:url("icons/ui/align_top_edges.png");}
.icn_ui_align_vertical_cntr::before{background-image:url("icons/ui/align_vertical_cntr.png");}
.icn_ui_arrange::before{background-image:url("icons/ui/arrange.png");}
.icn_ui_artboardtool::before{background-image:url("icons/ui/artboardtool.png");}
.icn_ui_arttext_tool::before{background-image:url("icons/ui/arttexttool.png");}
.icn_ui_back_one::before{background-image:url("icons/ui/back_one.png");}
.icn_ui_blurbrushtool::before{background-image:url("icons/ui/blurbrushtool.png");}
.icn_ui_break_curve::before{background-image:url("icons/ui/Break-curve.png");}
.icn_ui_burnbrushtool::before{background-image:url("icons/ui/burnbrushtool.png");}
.icn_ui_chainlink::before{background-image:url("icons/ui/ChainLink.png");}
.icn_ui_chainlinkconnected::before{background-image:url("icons/ui/ChainLinkConnected.png");}
.icn_ui_characterstyle::before{background-image:url("icons/ui/CharacterStyle.png");}
.icn_ui_checkboxtick::before{background-image:url("icons/ui/CheckboxTick.png");}
.icn_ui_close_curve::before{background-image:url("icons/ui/Close-curve.png");}
.icn_ui_clrpicker::before{background-image:url("icons/ui/clrpicker.png");}
.icn_ui_cogicon::before{background-image:url("icons/ui/cogicon.png");}
.icn_ui_column_marquee_tool::before{background-image:url("icons/ui/column_marquee_tool.png");}
.icn_ui_combine::before{background-image:url("icons/ui/combine.png");}
.icn_ui_combine_add::before{background-image:url("icons/ui/combineadd.png");}
.icn_ui_combine_divide::before{background-image:url("icons/ui/combinedivide.png");}
.icn_ui_combine_intersect::before{background-image:url("icons/ui/combineintersect.png");}
.icn_ui_combine_subtract::before{background-image:url("icons/ui/combinesubtract.png");}
.icn_ui_converttocurves::before{background-image:url("icons/ui/converttocurves.png");}
.icn_ui_cornertool::before{background-image:url("icons/ui/cornertool.png");}
.icn_ui_createcharacterstyle::before{background-image:url("icons/ui/CreateCharacterStyle.png");}
.icn_ui_creategroupstyle::before{background-image:url("icons/ui/CreateGroupStyle.png");}
.icn_ui_createnewexportable::before{background-image:url("icons/ui/createnewexportable.png");}
.icn_ui_createparagraphstyle::before{background-image:url("icons/ui/CreateParagraphStyle.png");}
.icn_ui_create_symbol::before{background-image:url("icons/ui/create_symbol.png");}
.icn_ui_deletelayer::before{background-image:url("icons/ui/deletelayer.png");}
.icn_ui_detach_symbol::before{background-image:url("icons/ui/detach_symbol.png");}
.icn_ui_distribute_bottom_edges::before{background-image:url("icons/ui/distribute_bottom_edges.png");}
.icn_ui_distribute_horizontal_cntrs::before{background-image:url("icons/ui/distribute_horizontal_cntrs.png");}
.icn_ui_distribute_left_edges::before{background-image:url("icons/ui/distribute_left_edges.png");}
.icn_ui_distribute_right_edges::before{background-image:url("icons/ui/distribute_right_edges.png");}
.icn_ui_distribute_top_edges::before{background-image:url("icons/ui/distribute_top_edges.png");}
.icn_ui_distribute_vertical_cntrs::before{background-image:url("icons/ui/distribute_vertical_cntrs.png");}
.icn_ui_dodgebrushtool::before{background-image:url("icons/ui/dodgebrushtool.png");}
.icn_ui_doublearrow::before{background-image:url("icons/ui/doublearrow.png");}
.icn_ui_drawpersona::before{background-image:url("icons/ui/drawpersona.png");}
.icn_ui_drawpersona_off::before{background-image:url("icons/ui/drawpersona_off.png");}
.icn_ui_editalllayers::before{background-image:url("icons/ui/editalllayers.png");}
.icn_ui_elliptical_marquee_tool::before{background-image:url("icons/ui/elliptical_marquee_tool.png");}
.icn_ui_erase_brush::before{background-image:url("icons/ui/erase_brush.png");}
.icn_ui_excl::before{background-image:url("icons/ui/excl.png");}
.icn_ui_excllow::before{background-image:url("icons/ui/excllow.png");}
.icn_ui_exclmult::before{background-image:url("icons/ui/exclmult.png");}
.icn_ui_expandcollapsebtn::before{background-image:url("icons/ui/ExpandCollapsebtn.png");}
.icn_ui_export_on::before{background-image:url("icons/ui/export-on.png");}
.icn_ui_export_part::before{background-image:url("icons/ui/export-part.png");}
.icn_ui_export::before{background-image:url("icons/ui/export.png");}
.icn_ui_exportcopyconfig::before{background-image:url("icons/ui/exportcopyconfig.png");}
.icn_ui_exportpaste_copy::before{background-image:url("icons/ui/exportpaste-copy.png");}
.icn_ui_exportpaste_add_copy::before{background-image:url("icons/ui/exportpaste-add-copy.png");}
.icn_ui_exportpaste_add::before{background-image:url("icons/ui/exportpaste-add.png");}
.icn_ui_exportpaste::before{background-image:url("icons/ui/exportpaste.png");}
.icn_ui_fill_reverse_gradient::before{background-image:url("icons/ui/fill_reverse_gradient.png");}
.icn_ui_fill_rotate_gradient::before{background-image:url("icons/ui/fill_rotate_gradient.png");}
.icn_ui_fliphorizontal::before{background-image:url("icons/ui/FlipHorizontal.png");}
.icn_ui_flipvertical::before{background-image:url("icons/ui/FlipVertical.png");}
.icn_ui_flip_horizontal::before{background-image:url("icons/ui/flip_horizontal.png");}
.icn_ui_flip_vertical::before{background-image:url("icons/ui/flip_vertical.png");}
.icn_ui_flood_fill::before{background-image:url("icons/ui/flood_fill.png");}
.icn_ui_forcepixelalignment::before{background-image:url("icons/ui/forcepixelalignment.png");}
.icn_ui_forward_one::before{background-image:url("icons/ui/forward_one.png");}
.icn_ui_frametexttool::before{background-image:url("icons/ui/frametexttool.png");}
.icn_ui_freehand_selection_tool::before{background-image:url("icons/ui/freehand_selection_tool.png");}
.icn_ui_gradient_tool::before{background-image:url("icons/ui/gradient_tool.png");}
.icn_ui_guidessnapping::before{background-image:url("icons/ui/guidessnapping.png");}
.icn_ui_hideselection::before{background-image:url("icons/ui/hideselection.png");}
.icn_ui_insert_behind::before{background-image:url("icons/ui/insert_behind.png");}
.icn_ui_insert_inside::before{background-image:url("icons/ui/insert_inside.png");}
.icn_ui_insert_on_top::before{background-image:url("icons/ui/insert_on_top.png");}
.icn_ui_join_curves::before{background-image:url("icons/ui/Join-Curves.png");}
.icn_ui_layerstabaddicon::before{background-image:url("icons/ui/LayersTabAddIcon.png");}
.icn_ui_layerstabaddrastericon::before{background-image:url("icons/ui/LayersTabAddRasterIcon.png");}
.icn_ui_layerstabadustmenticon::before{background-image:url("icons/ui/LayersTabAdustmentIcon.png");}
.icn_ui_layerstabeditalllayersicon::before{background-image:url("icons/ui/LayersTabEditAllLayersIcon.png");}
.icn_ui_layerstabfxicon::before{background-image:url("icons/ui/LayersTabFxIcon.png");}
.icn_ui_layerstablockicon::before{background-image:url("icons/ui/LayersTabLockIcon.png");}
.icn_ui_layerstabmaskicon::before{background-image:url("icons/ui/LayersTabMaskIcon.png");}
.icn_ui_layerstabsubtracticon::before{background-image:url("icons/ui/LayersTabSubtractIcon.png");}
.icn_ui_linemode::before{background-image:url("icons/ui/linemode.png");}
.icn_ui_line_cap_butt::before{background-image:url("icons/ui/line_cap_butt.png");}
.icn_ui_line_cap_round::before{background-image:url("icons/ui/line_cap_round.png");}
.icn_ui_line_cap_square::before{background-image:url("icons/ui/line_cap_square.png");}
.icn_ui_line_join_bevel::before{background-image:url("icons/ui/line_join_bevel.png");}
.icn_ui_line_join_miter::before{background-image:url("icons/ui/line_join_miter.png");}
.icn_ui_line_join_round::before{background-image:url("icons/ui/line_join_round.png");}
.icn_ui_line_none::before{background-image:url("icons/ui/line_none.png");}
.icn_ui_line_solid::before{background-image:url("icons/ui/line_solid.png");}
.icn_ui_line_texture::before{background-image:url("icons/ui/line_texture.png");}
.icn_ui_locked::before{background-image:url("icons/ui/locked.png");}
.icn_ui_locklayericon::before{background-image:url("icons/ui/lockLayerIcon.png");}
.icn_ui_lock_aspect_ratio::before{background-image:url("icons/ui/lock_aspect_ratio.png");}
.icn_ui_manager::before{background-image:url("icons/ui/manager.png");}
.icn_ui_masklayer::before{background-image:url("icons/ui/masklayer.png");}
.icn_ui_menubtn::before{background-image:url("icons/ui/menubtn.png");}
.icn_ui_moremenuicon::before{background-image:url("icons/ui/moremenuicon.png");}
.icn_ui_movebywholepixels::before{background-image:url("icons/ui/movebywholepixels.png");}
.icn_ui_move_tool::before{background-image:url("icons/ui/move_tool.png");}
.icn_ui_move_to_back::before{background-image:url("icons/ui/move_to_back.png");}
.icn_ui_move_to_front::before{background-image:url("icons/ui/move_to_front.png");}
.icn_ui_node::before{background-image:url("icons/ui/node.png");}
.icn_ui_node_tool::before{background-image:url("icons/ui/node_tool.png");}
.icn_ui_outline_mode::before{background-image:url("icons/ui/outline_mode.png");}
.icn_ui_paint_brush::before{background-image:url("icons/ui/paint_brush.png");}
.icn_ui_pantool::before{background-image:url("icons/ui/pantool.png");}
.icn_ui_paragraphstyle::before{background-image:url("icons/ui/ParagraphStyle.png");}
.icn_ui_pdf::before{background-image:url("icons/ui/PDF.png");}
.icn_ui_pencil_tool::before{background-image:url("icons/ui/pencil_tool.png");}
.icn_ui_penmode::before{background-image:url("icons/ui/penmode.png");}
.icn_ui_pixel::before{background-image:url("icons/ui/pixel.png");}
.icn_ui_pixelpersona::before{background-image:url("icons/ui/pixelpersona.png");}
.icn_ui_pixelpersona_off::before{background-image:url("icons/ui/pixelpersona_off.png");}
.icn_ui_pixel_draw_mode_2::before{background-image:url("icons/ui/pixel_draw_mode_2.png");}
.icn_ui_placeimagetool::before{background-image:url("icons/ui/placeimagetool.png");}
.icn_ui_polygonmode::before{background-image:url("icons/ui/polygonmode.png");}
.icn_ui_pref_keyboardshortcutsremove::before{background-image:url("icons/ui/pref_keyboardShortcutsRemove.png");}
.icn_ui_pref_keyboardshortcutssharedshortcut::before{background-image:url("icons/ui/pref_keyboardShortcutsSharedShortcut.png");}
.icn_ui_pref_keyboardshortcutswarning::before{background-image:url("icons/ui/pref_keyboardShortcutsWarning.png");}
.icn_ui_psd::before{background-image:url("icons/ui/psd.png");}
.icn_ui_reapplytextstyles::before{background-image:url("icons/ui/ReapplyTextStyles.png");}
.icn_ui_rectangular_marquee_tool::before{background-image:url("icons/ui/rectangular_marquee_tool.png");}
.icn_ui_removetabstop::before{background-image:url("icons/ui/removetabstop.png");}
.icn_ui_resetboundingbox::before{background-image:url("icons/ui/resetboundingbox.png");}
.icn_ui_resetdefaults::before{background-image:url("icons/ui/ResetDefaults.png");}
.icn_ui_retina_pixel_draw_mode_2::before{background-image:url("icons/ui/retina_pixel_draw_mode_2.png");}
.icn_ui_reversecurves::before{background-image:url("icons/ui/reversecurves.png");}
.icn_ui_rotate_anti_clockwise::before{background-image:url("icons/ui/rotate_anti_clockwise.png");}
.icn_ui_rotate_clockwise::before{background-image:url("icons/ui/rotate_clockwise.png");}
.icn_ui_rotationcenter::before{background-image:url("icons/ui/rotationcenter.png");}
.icn_ui_rotationcntr::before{background-image:url("icons/ui/rotationcntr.png");}
.icn_ui_row_marquee_tool::before{background-image:url("icons/ui/row_marquee_tool.png");}
.icn_ui_selection_brush::before{background-image:url("icons/ui/selection_brush.png");}
.icn_ui_setsnapshot::before{background-image:url("icons/ui/setsnapshot.png");}
.icn_ui_shape_arrow::before{background-image:url("icons/ui/Shape_Arrow.png");}
.icn_ui_shape_calloutellipse::before{background-image:url("icons/ui/Shape_CalloutEllipse.png");}
.icn_ui_shape_calloutrectangle::before{background-image:url("icons/ui/Shape_CalloutRectangle.png");}
.icn_ui_shape_cat::before{background-image:url("icons/ui/Shape_Cat.png");}
.icn_ui_shape_cloud::before{background-image:url("icons/ui/Shape_Cloud.png");}
.icn_ui_shape_cog::before{background-image:url("icons/ui/Shape_Cog.png");}
.icn_ui_shape_crescent::before{background-image:url("icons/ui/Shape_Crescent.png");}
.icn_ui_shape_diamond::before{background-image:url("icons/ui/Shape_Diamond.png");}
.icn_ui_shape_dnut::before{background-image:url("icons/ui/Shape_Dnut.png");}
.icn_ui_shape_doublestar::before{background-image:url("icons/ui/Shape_DoubleStar.png");}
.icn_ui_shape_ellipse::before{background-image:url("icons/ui/Shape_Ellipse.png");}
.icn_ui_shape_heart::before{background-image:url("icons/ui/Shape_Heart.png");}
.icn_ui_shape_pie::before{background-image:url("icons/ui/Shape_Pie.png");}
.icn_ui_shape_polygon::before{background-image:url("icons/ui/Shape_Polygon.png");}
.icn_ui_shape_rectangle::before{background-image:url("icons/ui/Shape_Rectangle.png");}
.icn_ui_shape_roundedrectangle::before{background-image:url("icons/ui/Shape_RoundedRectangle.png");}
.icn_ui_shape_segment::before{background-image:url("icons/ui/Shape_Segment.png");}
.icn_ui_shape_squarestar::before{background-image:url("icons/ui/Shape_SquareStar.png");}
.icn_ui_shape_star::before{background-image:url("icons/ui/Shape_Star.png");}
.icn_ui_shape_tear::before{background-image:url("icons/ui/Shape_Tear.png");}
.icn_ui_shape_trapezoid::before{background-image:url("icons/ui/Shape_Trapezoid.png");}
.icn_ui_shape_triangle::before{background-image:url("icons/ui/Shape_Triangle.png");}
.icn_ui_sharp_corner::before{background-image:url("icons/ui/Sharp-Corner.png");}
.icn_ui_sharpenbrushtool::before{background-image:url("icons/ui/sharpenbrushtool.png");}
.icn_ui_singlearrowdown::before{background-image:url("icons/ui/singlearrowdown.png");}
.icn_ui_singlearrowsmalldown::before{background-image:url("icons/ui/singlearrowsmalldown.png");}
.icn_ui_singlearrowsmallup::before{background-image:url("icons/ui/singlearrowsmallup.png");}
.icn_ui_singlearrowtinydown::before{background-image:url("icons/ui/singlearrowtinydown.png");}
.icn_ui_singlearrowtinyup::before{background-image:url("icons/ui/singlearrowtinyup.png");}
.icn_ui_slicecreationtool::before{background-image:url("icons/ui/slicecreationtool.png");}
.icn_ui_sliceset::before{background-image:url("icons/ui/sliceset.png");}
.icn_ui_smart_corner::before{background-image:url("icons/ui/Smart-Corner.png");}
.icn_ui_smart_mode::before{background-image:url("icons/ui/smartmode.png");}
.icn_ui_smooth_corner::before{background-image:url("icons/ui/Smooth-Corner.png");}
.icn_ui_smooth_curve::before{background-image:url("icons/ui/Smooth-Curve.png");}
.icn_ui_smudgebrushtool::before{background-image:url("icons/ui/smudgebrushtool.png");}
.icn_ui_snap_selected_geometry::before{background-image:url("icons/ui/SnapSelectedGeometry.png");}
.icn_ui_snapshotadd::before{background-image:url("icons/ui/snapshotAdd.png");}
.icn_ui_snapshotrestore::before{background-image:url("icons/ui/snapshotRestore.png");}
.icn_ui_snap_all_nodes::before{background-image:url("icons/ui/snap_all_nodes.png");}
.icn_ui_snap_anchor_curves::before{background-image:url("icons/ui/snap_anchor_curves.png");}
.icn_ui_snap_selected_curves::before{background-image:url("icons/ui/snap_selected_curves.png");}
.icn_ui_space_horizontally::before{background-image:url("icons/ui/space_horizontally.png");}
.icn_ui_space_vertically::before{background-image:url("icons/ui/space_vertically.png");}
.icn_ui_spread::before{background-image:url("icons/ui/spread.png");}
.icn_ui_svg::before{background-image:url("icons/ui/SVG.png");}
.icn_ui_syncdefaults::before{background-image:url("icons/ui/SyncDefaults.png");}
.icn_ui_sync_symbol::before{background-image:url("icons/ui/sync_symbol.png");}
.icn_ui_updatecharacterstyle::before{background-image:url("icons/ui/UpdateCharacterStyle.png");}
.icn_ui_updateparagraphstyle::before{background-image:url("icons/ui/UpdateParagraphStyle.png");}
.icn_ui_vectorcroptool::before{background-image:url("icons/ui/vectorcroptool.png");}
.icn_ui_vectortransparencytool::before{background-image:url("icons/ui/vectortransparencytool.png");}
.icn_ui_vector_brush::before{background-image:url("icons/ui/vector_brush.png");}
.icn_ui_vector_pen_tool::before{background-image:url("icons/ui/vector_pen_tool.png");}
.icn_ui_vibrflt::before{background-image:url("icons/ui/vibrflt.png");}
.icn_ui_visible_on::before{background-image:url("icons/ui/visible-on.png");}
.icn_ui_visible_part::before{background-image:url("icons/ui/visible-part.png");}
.icn_ui_webpersona::before{background-image:url("icons/ui/webpersona.png");}
.icn_ui_zoom::before{background-image:url("icons/ui/zoom.png");}
.icn_ui_zoomin::before{background-image:url("icons/ui/zoomin.png");}
.icn_ui_zoomin_cursor::before{background-image:url("icons/ui/zoomin_cursor.png");}
.icn_ui_zoomout::before{background-image:url("icons/ui/zoomout.png");}
.icn_ui_zoomout_cursor::before{background-image:url("icons/ui/zoomout_cursor.png");}

.caction .disabled::before{
  filter: saturate(0);
  opacity: 0.5;
}
